* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto';
}

/*---------------MENU-----------------*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #333;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.about{
    color: #d0a448!important;
}

.nav-links{
    display: flex; 
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style-type: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover{
    color: #d0a448;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    float: none!important;
    transition: all 0.3s ease;
}

.h{
    width: 40px;
    height: auto;
    float: left;
}

.logo h4{
    float: right;
    position: relative;
    margin-top: 10px;
}

@media screen and (max-width: 1100px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 880px){
    html, body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 8px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -9px);
}


/*----------MAIN----------*/
.main-content{
    padding: 3rem;
}

.card{
    text-align: center;
    padding: 3rem;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted #d0a448;
}

.parallax{
    background-image: url("../img/parallaxAbout.jpg");
    height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
}

.orange{
    color: #d0a448;
}

/*-----IMAGES ROW-----*/

.column {
    float: left;
    width: 33.33%;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 1100px){
    .column{
        width: 100%;
    }
}

/*----p------*/

.bold{
    font-weight: 600;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #d0a448; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.footer{
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #333;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img{
    width: 65px;
    height: auto;
}

.inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;

}

.inner_footer .footer_third h1{
    font-family: Arial;
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a{
    font-family: Arial;
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
    text-decoration: none;
}

.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}

@media(max-width: 600px){
    .footer .inner_footer{
        width: 90%;
    }

    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
}