* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto';
    height: 100%;
}

/*---------------MENU-----------------*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #333;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.home{
    color: #d0a448!important;
}

.nav-links{
    display: flex; 
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style-type: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover{
    color: #d0a448;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    float: none!important;
    transition: all 0.3s ease;
}

.h{
    width: 40px;
    height: auto;
    float: left;
}

.logo h4{
    float: right;
    position: relative;
    margin-top: 10px;
}

@media screen and (max-width: 1100px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 880px){
    html, body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 8px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -9px);
}



/*---------------CONTENT----------*/


div{
    float: left;
}

.parent{
    width: 100%;
    margin-bottom: 10px;
}

.child{
    border: 2px solid blue;
    padding: 10px;
    
}

#content{
    width: 100%;
    float: right;

}

#parallax{
    width: 100%;
    background-image: url("../img/background.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxContent{
    position: absolute;
    z-index: 1000;
    top: 300px;
    left: 100px;
    color: white;
    margin-left: 40px;
    background-color: #333;
    opacity: 0.8;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
}

@media only screen and (max-device-width: 880px){
    .parallaxContent{
        display: none;
    }
}

#content{
    width: 100%;
    margin-bottom: 5px;
}

/*---------CONTENT1-----------*/

h1{
    font-size: 70px;
    font-family: 'Lobster', cursive;
}

.par1{
    font-size: 40px;
}

.par2{
    font-size: 25px;
}

.arrow{
    font-size: 50px;
    color: white;
    margin-left: 17rem;
}

.content1{
    margin-top: 5rem;
}

.imgcontent1{
    float: left;
    width: 50%;
}

.imgmargin1{
    margin-left: 3rem;
}

.imgmargin{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.scriscontent1{
    float: right;
    width: 45%;
    margin-right: 2rem;
    margin-top: 15rem;
}

.reservation{
    color: #d0a448;
}
.btncontent1{
    background-color: #2e242c;
    border: none;
    color: #e7e7e7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btncontent1:hover{
    background-color: #d0a448;
}

.white{
    background-color: white;
    color: #333;
    height: 60px;
    padding: 5px 20px;
    width: 100%;
}

.black{
    background-color: #333;
    color: white;
    margin-bottom: 5px;
    height: 350px;
    padding: 3rem;
    width: 100%;
}

.left{
    float: left;
    text-align: center;
    width: 50%;
}

.center{
    float: left;
    text-align: center;
    width: 100%;
}

.a{
    color: #333;
    font-size: 30px;
}

.b{
    color: #333;
    font-size: 20px;
}

.c{
    color: black;
    font-size: 35px;
}

.d{
    color: #d0a448;
    font-size: 45px;
}

.chefpng{
    float: right;
    width: 250px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #d0a448;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
  
#myBtn:hover {
    background-color: #555;
}



.footer{
    margin-top: 90px;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #333;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img{
    width: 65px;
    height: auto;
}

.inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;

}

.inner_footer .footer_third h1{
    font-family: Arial;
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a{
    font-family: Arial;
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
    text-decoration: none;
}

.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}

@media(max-width: 600px){
    .footer .inner_footer{
        width: 90%;
    }

    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
}